* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(40, 40, 40);
}

header {
    padding: 30px;
    background: linear-gradient(to right, rgba(14, 236, 151, 0.65), rgba(228, 13, 223, 0.65));
}